<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New ToDo</title>
</head>

<body>
    <h1>Add A ToDo</h1>
    <form action="/products" method="POST">
        <label for="name">Work To Do-</label>
        <input type="text" name="name" id="name" placeholder="Enter a Work">
        <button>Submit</button>
    </form>
        <a href="/products">All ToDos</a>

</body>

</html>